.products {
    width: 80%;
    border-left: 1px solid #B3B3B3;
    background-color: #F2F2F2;
}

.products h1{
    text-align: center;
}

.cardsItem__container {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    padding: 10px;
    border-top: 2px solid #b3b3b3;
    border-bottom: 2px solid #b3b3b3;
}