.searchHistory {
    width: 20%;
}

.searchHistory h3 {
    margin-left: 20px;
}

.search__container {
    /* margin-right: 20px; */
    margin: 5px 20px;
    display: flex;
    flex-wrap: wrap;
}

.searchHistory button {
    background-color: #E10098;
    color: white;
}

.searchHistory button:hover {
    background-color: #C81685;
}

.searchHistory button:disabled {
    background-color: #e799c2
}

.itemSearched__container {
    margin: 5px 20px;
    border: 1px solid white;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    color: #B3B3B3;
    border-color: #E10098;
    border-radius: 5px;
    opacity: 0.5;
}

.itemSearched__container:hover {
    color: white;
    opacity: 1;
    background-color: #E10098;
}

.itemSeachedBtn {
    margin-left: 5px;
}

#deleteBtn {
    margin-left: 20px;
    margin-top: 10px;
    background-color: #E10098;
    color: white;
}

#deleteBtn:hover {
    background-color: #C81685;
}

#deleteBtn:disabled {
    background-color: #e799c2
}

